
<div id="box">
  <% @contacts.each do |contact| %>
    
    <div class="person" id="contact<%= contact.id%>">
      <% if ContactTeam.exists?(team_id: @team.id, contact_id: contact.id) %>
        <%=link_to "", quit_team_path(@team.id, contact: contact), method: :post, class: "btn btn-success btn-lg glyphicon glyphicon-ok contact#{contact.id}", :remote => true %>
      <% else %>
        <%=link_to "", join_team_path(@team.id, contact: contact), method: :post, class: "btn btn-danger btn-lg glyphicon glyphicon-remove contact#{contact.id}", :remote => true %> 
      <% end %>
      
      <p><%= contact.name %></p>

    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @contacts,:previous_label => '←上一頁', :next_label => '下一頁→', renderer: BootstrapPagination::Rails  %>
</div>
