<h2>編輯帳戶資訊<%#= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, label: '名字：'%>
    <%= f.input :email, required: true, autofocus: true, label: 'E-mail：' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", placeholder: "如果你不想更改密碼，此欄位請留白", required: false, label: '密碼：' %>
    <%= f.input :password_confirmation, required: false, placeholder: "如果你不想更改密碼，此欄位請留白", label: '再次確認密碼：' %>
    <%= f.input :current_password, placeholder: "如果你有更改資料，請輸入先前的密碼", required: true , label: '輸入先前的密碼：'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "更新資料" ,class: "btn btn-info"%>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%#= link_to "Back", :back %>
