<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("青蟲關懷系統", contacts_path, class: "navbar-brand") %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li> <%= link_to("Page 1", '#') %> </li>
        <li> <%= link_to("Page 2", '#') %> </li> 
        <li> <%= link_to("Page 3", '#') %> </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to("註冊", '#', class: "glyphicon glyphicon-user") %> </li>
        <li> <%= link_to("登入", '#', class: "glyphicon glyphicon-log-in") %> </li>
      </ul>
    </div>
  </div>
</nav>